<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='flask.ico') }}">

  <title>p5.js example</title>
  <style>
    body {
      padding: 0;
      margin: 0;
    }
  </style>
  <script src="/static/p5.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/abachman/p5.websocket/dist/p5.websocket.min.js"></script>
  <script name="userscript" src="/static/sketch.js" port_value={{port}} host_name={{hostname}}></script>
</head>

<body>
  <main>
  </main>
</body>

</html>